@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?yeq7ua');
    src: url('fonts/icomoon.eot?yeq7ua#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?yeq7ua') format('truetype'),
        url('fonts/icomoon.woff?yeq7ua') format('woff'),
        url('fonts/icomoon.svg?yeq7ua#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}



* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
}

a:visited,
a:link,
a:hover {
    color: white !important;
}

.bg {
    height: 596px;
    background: url(image/bg.jpg) center no-repeat;
}

.header {
    height: 100px;
}

.header h1 {
    font-weight: 400;
    font-family: 楷体;
    text-align: center;
    color: #fff;
    padding: 30px;
}

.bg .nav {
    height: 41px;
    border-bottom: 1px white solid;
}

.bg .nav img {
    width: 25px;
    height: 25px;
}

.bg .nav span {
    float: right;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    padding: 3px 10px;
    width: 35px;
    height: 35px;
}

.bg .nav .left a {
    display: block;
    float: left;
    width: 100px;
    height: 41px;
    font-size: 20px;
    text-align: center;
    line-height: 41px;
}

.bg .nav span:hover {
    border-bottom: 2px white solid;
    background: rgba(0, 0, 0, .1);
}

.bg .qr {
    position: relative;
}

.bg .qr img {
    width: 150px;
    height: 150px;
}

.bg .qr div {
    position: absolute;
    top: 0;
    right: 0;
}

.qr .qqqr,
.qr .wxqr {
    display: none;
}

.bg .nav .left a:hover {
    border-bottom: 2px white solid;
    background: rgba(0, 0, 0, .1)
}

.grjj {
    background-color: #f3f3f376;
    height: 450px;
}

.grjj .photo img {
    width: 350px;
    height: 350px;
}

.grjj .left {
    float: left;
    padding: 50px;
}

.grjj .right {
    float: left;
    padding: 18px;
}

.grjj .xinxi {
    float: left;
    padding: 10px;
    height: 200px;
}

.grjj .me {
    font-weight: 400;
    font-size: 30px;
    color: rgba(0, 106, 255, 0.498);
    height: 50px;
    line-height: 50px;
    padding: 20px;
}

.grjj .top {
    width: 500px;
    height: 100px;
}

.grjj .top>div,
.grjj .bottom>div {
    float: left;
    padding: 0 20px;
    width: 100px;
}




.grjj .xinxi span {
    font-family: 'icomoon';
    font-size: 40px;
}



.jl {
    height: 450px;
}

.jl .jianli {
    font-weight: 400;
    font-size: 30px;
    color: rgba(0, 106, 255, 0.498);
    height: 50px;
    line-height: 50px;
    padding: 20px 50px 10px;
}

.jl img {
    height: 50px;
    width: 50px;
}

.jl .edu,
.jl .stu,
.jl .honor {
    padding: 10px 45px;
    height: 100px;
}

.jl .left {
    float: left;
    padding: 20px;
}

.jl .right {
    float: left;
    padding: 20px;
}

.jl p {
    /* display: block; */
    /* float: left; */
    padding: 2px 50px;
}

.bmit {
    height: 450px;
    background-color: #f3f3f376;
}